:root {
    --bg-color: #F5BABB;
    --text-color: black;
    --nav-bg: #064232;
    --btn-bg: #568F87;
    --btn-txt: #FFF5F2;
    --tab-filter-btn-active: yellow;  /*for all the filter buttons*/
    --primary-btn-hover-color: 1px solid blue;
    --product-bg-color: #fcfcfd;  /* Each Product or Card bg */
    --card-border: #d2e7d3;
    --card-shadow: rgba(21,92,54,0.09);
    --card-shadow-hover: rgba(21,92,54,0.16);
    --card-img-bg: #e5f2ea;
    --card-img-border: #e0ece4;
    --login-page-bg: #095440;
    --login-page-bg-secondnary:#8FBC8B;
    --loading-animation-color:black;
}
html,body,:root {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
}
.page-contents {
    padding: 10px 5px;
}
.page-contents h1,.page-contents h2,.page-contents h3 { 
    margin-top: 0px;            /*so that big headings dont eat space on the top*/
}
.dark-theme {
    --bg-color: white;
    --product-bg-color: purple;
}