.contact-us-full-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* If user has not logged In */
#contact-us-message-wrapper {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-us-message {
    width: auto;
    height: auto;
    margin: 12px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}
#contact-us-login-redirect-btn {
    padding: 8px 12px;
    border-radius: 20px;
    background-color: var(--btn-bg);
}
a#contact-us-login-redirect-btn {
    text-decoration: none;
    color: var(--btn-txt);
}
#contact-us-login-redirect-btn:hover {
    border: var(--primary-btn-hover-color);
}
/* If user has logged In */
#contact-us-dialog-box {
    height: 350px;
    width: 450px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 24px;
    overflow: hidden;
}
#contact-us-dialog-box-title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--nav-bg);
    color: var(--btn-txt);
}
#contact-us-dialog-box-content-area {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--btn-bg);
}
#contact-us-issue-dropdown-wrapper,
#contact-us-message-area-wrapper {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
}
#contact-us-issue-dropdown-label,
#contact-us-issue-dropdown-menu {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
#contact-us-issue-dropdown-label {
    width: 30%;
    justify-content: flex-end;
}
#contact-us-issue-dropdown-menu {
    width: 70%;
}
#contact-us-message-label {
    width: 30%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
}
#contact-us-message-area {
    width: 70%;
    display: flex;
    box-sizing: border-box;
    object-fit: contain;
}
#contact-us-message-area textarea {
    width: 70%;
    height: 60px;
}
#contact-us-submit-btn {
    border-radius: 20px;
    padding: 8px 24px;
    color: var(--btn-txt);
    background-color: var(--btn-bg);
    border: 2px solid white;
    margin-top: 12px;
}

@media (max-width:600px) {
    #contact-us-dialog-box {
        height: 350px;
        width: 350px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 24px;
        overflow: hidden;
    }
    #contact-us-message-wrapper {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contact-us-message {
        margin: 8px auto;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
    }
    #contact-us-login-redirect-btn {
        padding: 4px 8px;
        margin-top: 12px;
    }
    #contact-us-message-area textarea {
        width: 200px;
    }
    


}
