#main-content-area {
    margin: 10px 5px;
    height: auto;
}
#sidebar-main-div {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}
#rating-title {
    font-size: 16px;
    font-weight: bold;
}